body{
 background-color:white;
 background-image:url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
background-repeat: repeat;
 color:#404040;
 font-size:11pt;
 font-family: Georgia, Garamond, serif;
}
h1,h2{
 color: #A4A400;
 background-color: #F0F0F0;
 font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
 text-decoration:underline;

 /* will be overwritten for h1*/
 font-size:18pt;
 text-align:left;
}

h1{
text-align:center;
font-size:22pt;
font-weight:bold;
}

a{
color:#A4A400;
text-decoration:underline;
}
#deleted{
text-decoration:line-through;
}

.section{
 border-top-style: solid;
}
.comments{
 background-color:#f4f142;
  margin-right:4%;
  margin-left:3%;
}
.give-margin{
margin-left:2%;
}

.sub-list{
list-style-type:circle;

}

#copyright{
font-family:  Courier, monospace;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
