body{
background-color: gray;
}

h1{
color: blue;
}

h2{
color: #464c56;
}

strong.features{
  color: #233807;
}

p { 
font-family: Georgia; 
color: white; 
}

a:link {
color: purple;
text-decoration:none;
}
a:visited {
color: blue;
}
a:hover {
color: red;
}





